.container-landscape {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  padding: 0 150px;

  @media screen and (orientation: landscape) {
    display: flex;
  }
}
