@import "./variable.scss";
@import "./animation.scss";

.mainContainer {
  height: 100vh;
  position: relative;
  overflow: hidden;
  .decore-image-main {
    position: absolute;
    bottom: 0;
  }

  .main-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 80%;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    .main-content {
      position: relative;
      // top: 20%;
      // left: 10%;
      left: 10%;
      font-size: 35px;
      color: $primary-color;
      @media only screen and (max-width: 768px) {
        top: 0;
        left: 0;
        padding: 0 20px;
      }
      .iam {
        color: black;
        font-size: 22px;
      }
      .name {
        font-size: 33px;
        color: black;
      }
      .description {
        font-size: 22px;
        @media only screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
    .main-image {
      // position: absolute;
      position: relative;

      // top: 50%
      right: 0;
      @media only screen and (max-width: 768px) {
        position: relative;
        right: auto;
        margin-right: auto;
        margin-left: auto;
        bottom: 10%;
        .main-img {
          width: 80vw;
          height: auto;
        }
      }
    }
  }
  .resume-btn {
    width: 250px;
    background-color: $bg-color;
    font-weight: $font-extralight;
    font-size: 22px;
    font-family: "Poppins", "Helvetica Neue";
    border: 1px solid $primary-color;
    padding: 13px 0;
    border-radius: 150px;
    margin-top: 42px;
    box-shadow: $shadow;
    @media only screen and (max-width: 768px) {
      visibility: hidden;
    }
  }
  .click-down {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    .click-here-btn {
      @include magic-border(2px, blue, 0.3s, 0);

      cursor: pointer;
    }
  }
}

.navbar {
  padding-top: 10px;
}
