@import "./variable.scss";

.nav-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  height: 100px;
}
.logo-wrapper {
  display: flex;
  position: absolute;
}
.logo {
  font-size: 54px;
  align-self: flex-end;
}
.copyright {
  align-self: flex-end;
  font-size: 12px;
  padding: 3px 11px;
}
.nav-btn {
  position: absolute;
  right: 50px;
}
