$primary-color: #3f2305;
$bg-color: #f5f5f5;
$secondary-color: #f2ead3;
$slight-color: #dfd7bf;
$font-extralight: 200;
$font-light: 300;
$font-regular: 400;

$shadow: -1px 2px 10px 1px rgba(130, 130, 130, 0.37);
